
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    font-family: "Bebas Neue", sans-serif;
}

body {
    margin: 0px; /* This makes your body to reach corners of the screen that includes the header
    since it is part of the body */
}

.logo {
    height: 55px;
    padding: 15px 10px;
    padding-left: 40px;
}

.section-p1{
    padding: 40px 80px;
}

#img1 {
    width: 100%;
    height: 100%;
    padding: 90px 95px;
}

#header {
    display: flex ;
    align-items: flex-start;
    justify-content: space-between;
    padding : 25px 20px;
    box-shadow: 0 5px 15px rgb(70, 0, 0, 0.06);
    /* background-color: rgb(47, 190, 119); */
    height: 80px;
    z-index: 999;
    position: sticky;
    top: 0;
    background: radial-gradient(circle, #91bdb5 750%,rgba(0, 0, 0, 0) 100%);
    background-position:center;
    background-size: 100% 10%;
    
}

#navbar {
    display: flex;
    justify-content: center;
}

/* Targeting the list inside the id = navbar  */
#navbar li{                     
    list-style: none;           /*Removing list bullets*/
    padding: 30px;              /* space between elmemnts*/
    position: relative;
}

/* Targeting the anchor tag*/
#navbar li a{
    color: rgb(24, 7, 17);
    font-size: 25px;
    font-weight: 500px;
    text-decoration: none;      /*Remove undelines from the links*/
    transition: 0.3 ease;  
    font-weight: bold     /*Smoothens hover that is time taken during hilightion on hover*/
}

#navbar li a:hover,
#navbar li a.active{            /*Highlights the active tab*/
    color: rgb(3, 123, 170);
}

/*inserting a line under the active tab*/
#navbar li a.active::after,     /*To add the line for all tabs*/
#navbar li a:hover::after   
    {
    content: "";                /*Always use content whenever u use ::after*/
    width: 50%;                 /*Sets the width of the underline to 30% of the parent element's width*/
    height: 4px;                /*Sets the height of the underline to 2 pixels.*/
    background: rgb(3, 123, 170);
    position: absolute;         /*Relative to main List class*/
    bottom: 30px;               /*Moves the underline 30 pixels up from the bottom of the parent element, creating an overlap effect*/
    left: 25px;                 /*Moves the underline 20 pixels to the right from the left edge of the parent element.*/
    padding: none;
}

#hero {
    background-image: url("image/design18.png");
    background-size: cover;
    height: 90vh;
    background-position: top 25% right 0;
    padding: 50px 110px 100px;
}


#hero h4{
    font-size: 25px;
    padding-top: 30px;
    color: rgb(170, 140, 140);

}


#hero h2{
    font-size: 45px;
}


#hero h1{
    font-size: 60px;
    color: rgb(250, 141, 141);
}


#hero p{
    font-size: 20px;
    padding-bottom: 20px;
}

#hero input[type="submit"]{
    background-color: rgb(248, 239, 162);
    border:0;
    padding: 10px;
}

#hero input[value="Shop Now"]{
    font-size: 20px;
}

#feature{
    text-align: center;
    padding: 5px;
}