nav {
  width: 400px;
  margin: 50px auto;
  background-color: rgba(255, 255, 255, 0.808);
  border: 2px solid #333;
  border-radius: 30px;
  box-shadow: 0 0 20px rgba(123, 7, 146, 0.2);
  padding: 20px;
}

nav h3 {
  text-align: center;
  margin-bottom: 10px;
}

nav ol {
  list-style-type:0;
  padding-left: 0;
}

nav li {
  margin-bottom: 10px;
}


nav label {
  cursor: pointer;
  display: inline-block;
  margin-right: 10px;
}

nav input[type="radio"]:checked + label {
  font-weight: bold;
  color: #300128;
}

nav input[type="radio"] {
  accent-color: rgb(92, 2, 57);
}
